.controls {
  float: left;
}

.game {
  float: right;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  width: 480px;
  height: 480px;
}

.cell {
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: black;
}

.flex-thirds {
  width: 153px;
  height: 159px;
}

.flex-thirds:nth-child(3n+3), .flex-quarters:nth-child(4n+4), .flex-fifths:nth-child(5n+5) {
  border-right: 1px solid black;
}

.flex-thirds:nth-last-child(-n + 3), .flex-quarters:nth-last-child(-n + 4), .flex-fifths:nth-last-child(-n + 5) {
  border-bottom: 1px solid black;
}

.flex-quarters {
  width: 24%;
  height: 25%;
}

.flex-fifths {
  width: 19%;
  height: 20%;
}
