.controls {
  float: left;
}

.game { /* sets styling for div containing sample bingo card */
  float: right;
  margin: 50px;
}

.card { /* sets styling for card containing bingo grid */
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  width: 480px;
  height: 480px;
}

.cell {                             /*sets borders for top and left sides of cells */
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: black;
}

.grid-thirds {  /* establishes dimensions for 3x3 bingo card */
  width: 153px;
  height: 159px;
}

.grid-quarters {  /* establishes dimensions for 4x4 bingo card */
  width: 24%;
  height: 25%;
}

.grid-fifths {  /* establishes dimensions for 5x5 bingo card */
  width: 19%;
  height: 20%;
}

.grid-thirds:nth-child(3n+3), .grid-quarters:nth-child(4n+4), .grid-fifths:nth-child(5n+5) { /* sets right-hand  border for last cell in every row  */
  border-right: 1px solid black;
}


/* sets bottom border for every cell in bottom row of bingo card */
.grid-thirds:nth-last-child(-n + 3), .grid-quarters:nth-last-child(-n + 4), .grid-fifths:nth-last-child(-n + 5) {
  border-bottom: 1px solid black;
}
