.controls {
  float: right;
}

.game { /* sets styling for div containing sample bingo card */
  float: right;
}

.card { /* sets styling for card containing bingo grid */
  border: 1px solid black;
  border-radius: 10px;
  width: 560px;
  height: 700px;
  margin: 100px;
}

.card-title {
  text-align: center;
  font-size: 100px;
  margin: 0 0 -120px 0;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  width: 480px;
  height: 480px;
  margin: 180px auto 0 auto; /* aligns grid within the card */
}

.cell {   /*sets borders for top and left sides of cells */
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: black;
  text-align: center; /* centers content of cell horizontally */
  overflow: hidden; /* hides overflowing text*/
}

.cell p {
  word-wrap:break-word; /* temporary fix - remove once i figure out dynamic text-sizing */
  margin: 45% 0;
}

.grid-thirds {  /* establishes dimensions for 3x3 bingo card */
  width: 158px;
  height: 159px;
}

.grid-quarters {  /* establishes dimensions for 4x4 bingo card */
  width: 118px;
  height: 119px;
}

.grid-fifths {  /* establishes dimensions for 5x5 bingo card */
  width: 94px;
  height: 95px;
}

.grid-thirds:nth-child(3n+3), .grid-quarters:nth-child(4n+4), .grid-fifths:nth-child(5n+5) { /* sets right-hand  border for last cell in every row  */
  border-right: 1px solid black;
}

/* sets bottom border for every cell in bottom row of bingo card */
.grid-thirds:nth-last-child(-n + 3), .grid-quarters:nth-last-child(-n + 4), .grid-fifths:nth-last-child(-n + 5) {
  border-bottom: 1px solid black;
}
